<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rank.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rank.score %>
</p>

<p>
  <strong>Is visible:</strong>
  <%= @rank.is_visible %>
</p>

<p>
  <strong>Abusing cnt:</strong>
  <%= @rank.abusing_cnt %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
